
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户注册</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <!-- 模态窗体 -->
    <script src="/static/ShowModel/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ShowModel/js/xadmin.js"></script>

    <style>
        .login-page {
            background-image: url("/static/images/bg.png");
            background-size: cover;
        }

        .form-group {
            text-align: left;
        }

        .login-box {
            width: 360px;
            margin: 5% auto;
            padding: 0;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div id="d">

    <div class="row">
        <div class="login-box text-center">
            <div class="login-box-body">

                <form action="#" method="post" class="autoAjaxSubmit" data-ok-function="ok">
                    <div class="form-group">
                        <label>手机号</label>
                        <input type="text" v-model="customer.customertel" class="form-control" placeholder="请输入注册的手机号" name="phone" style="width: 250px">
                        <button type="button" id="que" @click="yes()" class="btn-primary" style="margin-left: 255px;display: block;margin-top: -30px">确认</button>
                    </div>
                    <div class="form-group">
                        <label>验证码</label>
                        <input type="text" class="form-control" placeholder="请输入随机验证码" name="yanzheng">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text" v-model="customer.customeremail" class="form-control" placeholder="请输入邮箱" name="email">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" v-model="customer.customerpwd" class="form-control" placeholder="密码..." name="pwd">
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" class="form-control" placeholder="及确认密码" name="confirmPwd">
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 15px">
                            <button type="button" @click="ok()" class="btn btn-primary btn-block btn-flat">注 册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/static/vue/jquery-3.1.1.js"></script>
<script src="/static/vue/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<script>
    new Vue({
       el:"#d",
       data:{
         customer:{}
       },
        created:function () {

        },
        methods:{
           "ok":function () {
               if($("[name=phone]").val() === ''){
                   layer.alert("请先校验手机号！");
                   return;
               }
               if($("[name=yanzheng]").val() === ''){
                   layer.alert("验证码不能为空！");
                   return;
               }
               if($("[name=email]").val() === ''){
                   layer.alert("邮箱不能为空！");
                   return;
               }
               if($("[name=pwd]").val() === ''){
                   layer.alert("密码不能为空！");
                   return;
               }
               if($("[name=confirmPwd]").val() === ''){
                   layer.alert("请确认密码！");
                   return;
               }
               if($("[name=confirmPwd]").val() !== $("[name=pwd]").val()){
                   layer.alert("前后密码不一致！");
                   return;
               }
               var hui = $("[name=yanzheng]").val();
               var code = window.sessionStorage.getItem("code");
               console.info("获取的验证码："+code);
               if(hui !== code){
                   layer.alert("验证码不正确！");
                   return;
               }
               var formData = new FormData();
               for (var key in this.customer){
                    formData.append(key,this.customer[key])
               }
               axios({
                   method:"post",
                   url:"/customer/add",
                   headers: {
                       "Content-Type": "multipart/form-data"
                   },
                   withCredentials:true,
                   data:formData
               }).then(function (value) {
                   //加判断
                   layer.alert("注册成功，点击确定进行登录。");
                   location.href = "/Home/login";
               });
               // layer.alert("注册成功，点击确定进行登录。");
           },
           "yes":function () {
               var phone = $("[name=phone]").val();
               if(!(/^1[3|4|5|7|8][0-9]{9}$/.test(phone))){
                   layer.alert("手机号码长度或格式不正确！");
                   return;
               }
               var url ="/code/phonecode?phone="+phone;
               axios.get(url).then(function (value) {
                   console.log(value.data);
                    if (null != value.data){
                        layer.alert("发送成功，请注意查收！");
                        window.sessionStorage.setItem("code",value.data);
                    }else {
                        console.log("发送验证码出错了")
                    }

               }).catch(function (reason) {
                   console.log(reason);
               });

               $("#que").html('已发送');
           }
        }
    });

</script>


</body>
</html>