<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta charset="utf-8">
    <title>社区矫正人员思想汇报13篇 免费阅读可下载_天天文库</title>
    <meta name="keywords" content="社区,矫正,人员,思想汇报,13,汇报材料,最新,工作,汇报材料,范文,个人,给上级,工程项目,公司,企业,入学积极分子,ppt,word,免费,下载">
    <meta name="description"
          content="社区矫正人员思想汇报社区矫正人员思想汇报 1313 篇篇范文（一）我叫215;215;215;，是一名因215;215;215;罪被判缓刑而接受社区矫正并在社会上服刑的犯人。通过司法所工作人员与我的谈话交流，使自己明确了在社区矫正期间的权利和义务，以及应当遵守的规章制度，我深切的感到高墙内和高墙外服刑的区别，这是党和政府以人为本的重要体现。作为一个犯罪分子，只有自觉服从司法所的监督管理，按时参加集">
    <script type="text/javascript" async="" src="/static/yue/auto_dup"></script>
    <script src="/static/yue/push.js"></script>
    <script src="/static/yue/hm.js"></script>
    <script type="text/javascript" async="" src="/static/yue/tprvrnx.js"></script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://www.wenku365.com/p-19068135.html",
            "title": "社区矫正人员思想汇报13篇",
            "images": [
                "http://f13.wenku365.com/fileroot2/2018-8/21/f166afe4-c15c-4417-9032-9c26ab4168dc/pic1.gif"
            ],
            "pubDate": "2018-09-28T01:07:12",
            "upDate": "2018-09-28T01:07:12"
        }

    </script>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://www.wenku365.com/p-19068135.html">
    <meta property="og:type" content="document">
    <meta property="og:release_date" content="2018-09-28">
    <meta property="og:title" content="社区矫正人员思想汇报13篇">
    <meta property="og:description"
          content="社区矫正人员思想汇报社区矫正人员思想汇报 1313 篇篇范文（一）我叫215;215;215;，是一名因215;215;215;罪被判缓刑而接受社区矫正并在社会上服刑的犯人。通过司法所工作人员与我的谈">
    <meta property="og:document:type" content="doc">
    <meta property="og:image"
          content="http://f13.wenku365.com/fileroot2/2018-8/21/f166afe4-c15c-4417-9032-9c26ab4168dc/pic1.gif">
    <meta property="og:document:page" content="6">
    <meta property="og:document:cost" content="24.90积分">
    <link href="/static/yue/read.css" rel="stylesheet" type="text/css">
    <link href="/static/yue/webMebook.css" rel="stylesheet" type="text/css">
    <style>.box-top {
        margin-top: -25px
    }</style>
    <link href="/static/js/f1209499-d7aa-4090-8b19-9acb3f311b52.png"
          rel="shortcut icon" type="image/x-icon">
    <link href="/static/yue/base.css" rel="stylesheet" type="text/css">
    <link href="/static/yue/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/yue/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/yue/Prototype.js"></script>
    <link href="/static/yue/slides.css" rel="stylesheet" type="text/css">
    <meta name="copyright" content="https://www.wenku365.com">
    <meta name="applicable-device" content="pc">
    <!--[if lte IE 8]>
    <script src="https://static.wenku365.com/js/jquery1.9.0.min.js"></script><![endif]-->
    <style>.xxxk_top img {
        height: 55px;
        margin-top: 10px
    }

    .cmn_search_box {
        margin-left: 130px
    }

    .cmn_search_box .border {
        border: 1px solid #00a2ca;
        border-radius: 0
    }

    .cmn_search_box .border input[type='submit'] {
        background-color: #00a2ca
    }

    .cmn_search_box .border input[type='submit']:hover {
        background-color: #00a2ca
    }

    .hr-wrap {
        border-bottom: 1px solid #00a2ca;
        background: #00a2ca
    }

    .home_menu {
        border-bottom: 2px solid #00a2ca
    }

    .home_menu .feilei {
        font-size: 16px;
        background-color: #00a2ca;
        color: #fff;
        border-radius: 0
    }

    .nav_bg, .nav li.over a, .nav li a, .nav #conAll0.over a {
        background: #00a2ca
    }

    .nav li a {
        display: block;
        padding: 0 40px
    }

    .j_menu .hottip {
        right: -3px;
        top: 5px
    }

    .hottip {
        right: 16px;
        top: 5px
    }

    .nav li a:hover, .nav li.over a, .nav #conAll0:hover a:hover, .nav #conz0:hover a:hover {
        background-color: #00a2ca;
        color: #f40
    }

    .home_menu .j_menu li.home a {
        color: #f40
    }

    .nav #conAll0.over a, .nav #conz0.over a, .nav #conAll0:hover a, .nav #conz0:hover a {
        background-color: #00a2ca;
        color: #f40
    }

    .camTitle {
        background-color: #f9f9f9
    }

    .camNavA a {
        font-size: 14px;
        color: #2d2d2d
    }

    .camNavA a.selected {
        background: #fff;
        border-top: 3px solid #00a2ca;
        font-weight: bold;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5
    }

    .camTitles {
        background-color: #f5f5f5
    }

    .camNavAs a {
        font-size: 16px;
        color: #2d2d2d
    }

    .camNavAs a.selected {
        font-weight: bold;
        border-top: 3px solid #00a2ca;
        background: #fff
    }

    .cate {
        background: #5c5c5c;
        border-top: solid 1px #00a2ca
    }

    .cate li:hover .category-title {
        background: #fff
    }

    .cate li:hover .category-title a {
        color: #f60
    }

    .cate .category-sub {
        border-color: #00a2ca;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1
    }

    .shop1 a.searchbtn0 {
        background-color: #ff491f
    }

    .shop1 a.searchbtn0:hover {
        background-color: #e5411c
    }

    footer, .foot_nav_bg {
        background: #111
    }

    .camZpSmall .camZpBox dd span, .camZpSmall .camZpBox dd a.selected, .camZpBox dd span, .camZpBox dd a.selected, .farea dd span, .farea dd a.selected, .fareas dd span, .fareas dd a.selected {
        color: #fff;
        background-color: #00a2ca
    }

    .farea dt, .fareas dt {
        color: #666
    }

    .h-list #conAll, .h-list #conAll2, .dorpmenu2 {
        border: 1px solid #00a2ca;
        border-radius: 0
    }

    .catesBox a:hover, .catesBox a.cur {
        background: #00a2ca;
        border: 1px solid #00a2ca
    }

    .bannerbox .searchbox .searchbtn1 {
        background-color: #189ae5
    }

    .bannerbox .searchbox .searchbtn1:hover {
        background-color: #0b8dd6
    }</style>
    <script type="text/javascript" src="/static/yue/jquery.lazyload.js"></script>
    <link href="/static/yue/recentBrowse.css" rel="stylesheet">
    <script src="/static/yue/recentBrowse.js"></script>
    <script src="/static/yue/share.js"></script>
    <link rel="stylesheet" href="/static/yue/share_style0_24.css">
</head>
<body style="">
<div id="BAIDU_DUP_fp_wrapper"
     style="position: absolute; left: -1px; bottom: -1px; z-index: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: none;">
    <iframe id="BAIDU_DUP_fp_iframe" src="/static/yue/o.html"
            style="width: 0px; height: 0px; visibility: hidden; display: none;"></iframe>
</div>
<!--头部导航-->
<div class="hr-wrap" style="min-width: 1200px;">
    <div class="h-list-box clearfix">
        <ul class="h-list clearfix">
            <li class=""><a href="https://www.wenku365.com/" target="_self">首页 </a></li>
            <li id="conAll0" class="an"><a href="https://www.wenku365.com/list.html" target="_self"> 文档分类</a>
                <ul id="conAll2" style="display: none; z-index: 9999999;">
                    <li>
                        <span>
                            <a href="https://www.wenku365.com/c-00012.html" title="学术论文" target="_blank">学术论文</a>
                        </span>
                        <dl>
                            <a href="https://www.wenku365.com/c-0001200007.html" target="_blank">毕业论文</a>
                        </dl>
                    </li>
                </ul>
            </li>
            <li class=""><a href="https://www.wenku365.com/c-00012.html">学术论文</a></li>
            <li class=""><a href="https://www.wenku365.com/c-00015.html">应用文档</a></li>
            <li class=""><a href="https://www.wenku365.com/c-00017.html">行业资料</a></li>
            <li class=""><a href="https://www.wenku365.com/c-00016.html">教育资源</a></li>
            <li class=""><a href="https://www.wenku365.com/c-00018.html">其他资料</a></li>
        </ul>
        <div class="usershop">
            <ul>
                <li class="shop1">
                    <form id="forms" enctype="multipart/form-data">
                        <div class="bigsearch">
                            <input type="text" placeholder=" 在这里搜索..." class="stext" id="keyword" style="width: 150px; font-size: 14px;" value="">
                            <input type="submit" class="sbtncss" value="" onclick="">
                        </div>
                    </form>
                </li>
                <li class="shop1"><a class="searchbtn0" style="width: 40px;" title="上传我的文档"
                                     href="https://www.wenku365.com/ucenter/wenku/bookUpload"
                                     rel="nofollow"><span></span></a></li>
            </ul>
        </div>
        <div class="h-login-type">
            <div style="float: left;" getloginedcontent="/user/header?style=1"><a target="_parent"
                                                                                  style="color: #eb0064"
                                                                                  href="https://www.wenku365.com/ucenter">（wdk1123615523）的个人中心</a>
                | <a target="_parent"
                     href="https://www.wenku365.com/ucenter/doLogout?csrf_token=a3fb10f105f147f089fa5195977251a8">安全退出</a>
            </div>
        </div>
    </div>
</div>




<div class="bg_100 main_bg clearfix" style="background-color: #ebeef2; padding-top: 25px;">
    <div class="main clearfix" style="width: 100%;" id="b">
        <div class="box-top">
            <!--收藏关注下载搜索-->
            <div class="readshop" id="readshop" style="position: relative; left: 0px; width: 100%; z-index: 0;">

                <div class="mainpart" style="min-width: 720px;">
                    <ul class="shop1" style="min-width: 300px; padding-right: 10px;">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                </td>
                                <td><input type="button" class="btn_sc" onclick="javascript:void(0);" value="收藏">&nbsp;
                                </td>
                                <td>
                                    <input type="button" class="btn_sc2" onclick="" value="关注">&nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <ul class="shop3">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="shop2" style="padding: 0px 10px;">
                        <form id="form0" enctype="multipart/form-data">
                            <div class="bigsearch"
                                 style="margin-top: 0px; border: solid 1px #ff7800; border-radius: 5px 5px;">
                                <input type="text" placeholder=" 在这里搜索..." class="stext"
                                       style="width: 250px; font-size: 14px;" value="">
                                <input type="submit" class="sbtncss" value="" onclick=""></div>
                        </form>
                    </ul>
                    <ul class="shop4" v-show="documentation.allowdownload == 1">
                        <li class="btns"><span style="color: #666">下载费用：</span> <span style="color: #ff1100;"> <b
                                style="font-size: 14px;">{{documentation.sellingprice}}</b>积分 </span> &nbsp; <input type="button"
                                                                                           class="btndown1"
                                                                                           onclick=""
                                                                                           value="下载资源"></li>
                    </ul>
                </div>
            </div>
            <!--分类提示信息-->
            <div class="nav_uis" style="margin: 10px auto 0px auto;">
                <a href="https://www.wenku365.com/">
                    <img src="/static/yue/home.gif" width="16" height="16" align="absmiddle" alt="首页">&nbsp;&nbsp;随心文库
                </a>
                <span>&nbsp;&gt;&nbsp;</span>
                <a href="https://www.wenku365.com/c-00015.html">{{documentation.dname}}</a>
                <span>&nbsp;&gt;&nbsp;</span>
                <a href="https://www.wenku365.com/c-0001500003.html">{{documentation.name}}</a>
                <span>&nbsp;&gt;&nbsp;</span>
            </div>


            <div class="mainpart" id="mainpart" style="position: relative; z-index: 0;">
                <div class="layout02" id="layout02">
                    <div class="boxleft" id="boxleft">
                        <!--文档主题-->
                        <div class="commonbox2" id="box1">
                            <div class="doctopic">
                                <h1 :title="documentation.title">
                                    <img style="margin-top: 2px" src="/static/yue/s.gif" class="doc"> {{documentation.title}}
                                </h1>
                            </div>
                        </div>
                        <!--显示第一张位置-->
                        <div class="page_view" id="pageContainer" oncontextmenu="return false">
                            <div class="commonbox2" id="box2">
                                <!--显示第一章图片位置-->
                                <div style="BACKGROUND:url(https://static.wenku365.com/images/page-loading.gif) no-repeat center; display: flex;justify-content: center;align-items: center">
                                    <img :src="documentation.filepath" style="max-width: 916px; min-height: 600px">
                                </div>
                            </div>
                        </div>

                        <!--阅读文档 以及 下载文档-->
                        <div id="outer_page_more" style="margin-bottom: 20px; background-color: #FFF; overflow: hidden;">
                            <div class="inner_page_more" id="page_more" style="width: 920px; overflow: hidden; border: solid 1px #ccc; box-shadow: 0 1px 5px #ccc; height: 200px; line-height: 30px;">
                                <div id="html-reader-go-more" class="banner-wrap more-btn-banner" style="padding-top: 40px; width: 920px; position: relative;">
                                    <p style="text-align: center; font-size: 18px;"><span id="ftip">本资源提供点击预览，点击阅读文档即可进行预览,如果喜欢文档就下载吧，使用更方便哦！</span></p>
                                    <p style="text-align: center; font-size: 14px;" v-show="documentation.allowdownload == 1">
                                        <b></b>
                                        <span>
                                            <b style="color: #ff0000"> {{documentation.sellingprice}}</b> 积分
                                        </span>
                                    </p>
                                    <p style="text-align: center; padding-top: 10px;"></p>
                                    <!--阅读和下载-->
                                    <table style="margin: 0px auto;">
                                        <input type="hidden" :value="this.did" name="did">
                                        <tbody>
                                        <tr>
                                            <td>

                                                <a id="online_preview" class="ui-bz-btn-senior banner-download" onclick="read()" style="background-color: #4095CE; padding: 5px 35px; font-size: 15px; text-decoration: none">
                                                    <b style="color: #fff">阅读文档</b>
                                                </a>
                                            </td>
                                            <td>
                                                <span v-show="documentation.allowdownload == 1">
                                                    <a href="https://www.wenku365.com/d-19068135.html" class="ui-bz-btn-senior banner-download" style="padding: 5px 35px; font-size: 15px; text-decoration: none">
                                                        <b style="color: #fff">下载文档</b>
                                                    </a>
                                                </span>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="works-manage-box shenshu">
                            <a class="Textcenter"
                               style="display: block; padding-top: 17px; padding-left: 20px; font-size: 14px;">word格式文档无特别注明外均可编辑修改；预览文档经过压缩，下载后原文更清晰！ </a>
                        </div>
                        <br>
                        <!--标签的位置-->
                        <dl class="works-intro gray2 cl pb10" style="border-bottom: none;">
                            <dt class="fl">关&nbsp;键&nbsp;词：</dt>
                            <dd class="fl wordwrap" style="color: blue">{{documentation.essentialcode}}</dd>
                        </dl>
                        <div class="works-intro gray2 c666">
                            <span class=" notice-ico">
                                <img src="/static/yue/bang_tan.gif" style="padding-left: 24px; vertical-align: middle">
                            </span>
                            &nbsp;随心文库所有资源均是用户自行上传分享，仅供网友学习交流，未经上传用户书面授权，请勿作他用。
                        </div>
                        <!--猜你喜欢-->
                        <div class="mt10 related-pic-box" id="brandlist">
                            <div class="works-comment-hd">猜你喜欢</div>
                            <div id="related-pic-list" class="related-pic-list cl"
                                 style="padding-left:12px; padding-right:0px;">
                                <ul>
                                    <li><h3><a href="https://www.wenku365.com/p-19068118.html" target="_parent"
                                               title="原创地税工作报告书"> <img
                                            data-original="http://f13.wenku365.com/fileroot2/2018-8/27/c6ce5e9b-9cc5-4cd5-a322-525b92b991af/pic1.gif"
                                            alt="原创地税工作报告书"

                                            src="/static/yue/pic1.gif" style="display: block;">
                                        原创地税工作报告书 </a></h3></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--右侧-->
                    <div class="boxright" id="boxright">
                        <div class="fr detail-aside" id="Div11" style="width: 270px;">
                            <!--当前资源信息-->
                            <div class="box hot-keywords mt10" style="width: 268px;" id="relatebox0">
                                <div class="boxHd" style="padding-bottom: 0px;">
                                    <div class="fl nt-ico mr5 ml13 ico" style="margin-top: 3px;"></div>
                                    <h2 class="fl font-normal font16 font-yahei"
                                        style="font-size: 16px; font-weight: 100; margin-left: 0px; margin-top: 3px; font-family: 微软雅黑">
                                        当前资源信息 </h2></div>
                                <div id="Div2" class="author-works-list bgF"
                                     style="overflow: hidden; padding: 10px 10px;">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <dt class="author-avatar-box fl"><a class="author-avatar"
                                                                                    title="作者头像"
                                                                                    href="https://www.wenku365.com/u-5097.html">
                                                    <img src="/static/yue/avatar_small.gif"> </a></dt>
                                            </td>
                                            <td>
                                                <div class="author-name fl w100 ellipsis"><a
                                                        href="https://www.wenku365.com/u-5097.html"
                                                        target="_blank">{{documentation.customername}}</a>
                                                    <img style="height: 15px; width: 20px; overflow: hidden; margin-right: 10px;  display: none"
                                                         src="/static/yue/s.gif"></div>
                                                <div class="author-level-bar"><span
                                                        class="mr5 author-grade author-grade5"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="fl" style="width: 240px;">
                                        <p class="kh_cpZl">类型： {{documentation.name}}</p>
                                        <p class="kh_cpZl">格式： .{{documentation.documentformat}}</p>
                                        <p class="kh_cpZl">大小： {{documentation.documentsize}} BM</p>
                                        <p class="kh_cpZl">上传时间：{{documentation.releasetime}}</p></div>
                                </div>
                            </div>
                            <!--作者资源-->
                            <div class="box hot-keywords mt10" style="height: 320px; overflow: hidden;" id="relatebox">
                                <div class="boxHd" style="padding-bottom: 0px;">
                                    <div class="fl keywords-ico mr5 ml13 ico"></div>
                                    <h2 class="fl font-normal font16 font-yahei"
                                        style="font-size: 16px; font-weight: 100; margin-left: 0px; margin-top: 3px; font-family: 微软雅黑">
                                        作者资源 </h2></div>
                                <div id="author-works-list" class="author-works-list bgF"
                                     style="height: 314px; overflow: auto">
                                    <li v-for="customer in customerinfo">
                                        <h2>
                                            <a @click="cyh(customer.did)"
                                               :title="customer.filename">
                                                <span style="display:block;width: 230px; overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{customer.filename}}.{{customer.documentformat}}</span>
                                            </a>
                                        </h2>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: none" id="Div3">
                <iframe src="/static/yue/bookRead.html" frameborder="0" style="width: 0px; height: 0px" rel="nofollow"></iframe>
            </div>
        </div>
    </div>


</div>
<!--底部黑框内容-->
<div class="bg_100 foot_nav_bg" style=" min-width:1200px;">
    <div class="foot_nav"><a href="https://www.wenku365.com/h-33.html" target="_blank" rel="nofollow">关于我们</a> -
        <a href="https://www.wenku365.com/h-34.html" target="_blank" rel="nofollow">网站声明</a> -
        <a href="https://www.wenku365.com/h-35.html" target="_blank" rel="nofollow"> 网站地图</a> -
        <a href="https://www.wenku365.com/sitemap.html" target="_blank" rel="nofollow"> 资源地图</a> -
        <a href="javascript:void(0)" target="_blank" rel="nofollow">友情链接</a> -
        <a target="_blank" href="https://wpa.qq.com/msgrd?v=3&amp;uin=1290478887&amp;site=qq&amp;menu=yes" rel="nofollow"> 网站客服
            <img border="0" src="/static/yue/pa" alt="点击这里,给天天文库发消息,QQ:1290478887" title="点击这里,给天天文库发消息,QQ:1290478887"></a>-
        <a href="https://www.wenku365.com/h-38.html" target="_blank" rel="nofollow">联系我们</a>
    </div>
</div>
<!--底部说明-->
<div class="bg_100 siteInner_bg" style=" min-width:1200px;">
    <div class="siteInner">
        <p style="text-align: center; line-height: 1.75em; margin-bottom: 5px;">
            <span style="font-size: 14px;">
                <span style="text-align: center; color: rgb(102, 102, 102); line-height: 20px; font-family: 微软雅黑, Arial, &quot;Times New Roman&quot;; font-size: 14px;">本站为“文档C2C交易模式”，即用户上传的文档直接卖给(下载)用户，本站只是中间服务平台，本站所有文档下载所得的收益归上传人(含作者)所有【成交的100%(原创)】。本站是网络服务平台方，若您的权利被侵害，侵权客服QQ：1290478887 欢迎举报。</span>
            </span>
            <span style="font-size: 14px;">
                <span style="text-align: center; color: rgb(102, 102, 102); line-height: 20px; font-family: 微软雅黑, Arial, &quot;Times New Roman&quot;; font-size: 14px;"></span>
            </span><br>
        </p>
        <p style="text-align: center; line-height: 1.75em;">
            <span style="font-size: 14px;">
                <span style="text-align: center; color: rgb(102, 102, 102); line-height: 20px; font-family: 微软雅黑, Arial, &quot;Times New Roman&quot;; font-size: 14px;">1290478887@qq.com 2017-2027 https://www.wenku365.com 网站版权所有</span>
            </span>
        </p>
        <p style="text-align: center; line-height: 1.75em;">
            <span style="font-size: 14px;">
                <span style="text-align: center; color: rgb(102, 102, 102); line-height: 20px; font-family: 微软雅黑, Arial, &quot;Times New Roman&quot;; font-size: 14px;">
                    <a rel="nofollow" href="http://www.beian.miit.gov.cn/">粤ICP备19057495号</a>&nbsp;
                </span>
            </span>
        </p>
        <table>
            <tbody>
            <tr class="firstRow"></tr>
            </tbody>
        </table>
        <script>
            var _hmt = _hmt || [];
            (function () {
            var b = document.createElement("script");
            b.src = "https://hm.baidu.com/hm.js?37da034ad2dfcecdf30d6732d531372a";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(b, a)
        })();
        </script>
        <script>
            (function () {
            var c = document.createElement("script");
            var b = window.location.protocol.split(":")[0];
            if (b === "https") {
                c.src = "https://zz.bdstatic.com/linksubmit/push.js"
            } else {
                c.src = "http://push.zhanzhang.baidu.com/push.js"
            }
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(c, a)
        })();
        </script>
        <script>
            (function () {
            var a = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
            document.write('<script src="' + a + '" id="sozz"><\/script>')
        })();
        </script>
    </div>
</div>
<script src="/static/vue/vue.js"></script>
<script src="/static/vue/axios.min.js"></script>
<script src="/static/vue/jquery-3.1.1.js"></script>
<script>
        new Vue({
        el:"#b",
        data:{
            did:"",
            documentation:{},
            customerinfo:{}
        },
        created: function () {
            this.did = window.sessionStorage.getItem("did");
            this.bydid();
        },
        methods: {
            "bydid":function () {
                var _this = this;
                var url = "/documentation/bydid?did="+this.did;
                axios.get(url).then(function (value) {
                    _this.documentation = value.data;
                    var id = _this.documentation.customerid;
                    _this.hui(id);
                }).catch(function (reason) {
                    console.log(reason)
                })
            },
            "hui":function (id) {
                var _this = this;
                var url = "/documentation/findbyid?authored="+id;
                axios.get(url).then(function (value) {
                    _this.customerinfo = value.data;
                }).catch(function (reason) {
                    console.log(reason)
                })
            },
            "cyh":function (did) {
                window.sessionStorage.setItem("did",did);
                location.href = "/Home/read";
            }
        }
    })
</script>
<script src="/static/ShowModel/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/ShowModel/js/xadmin.js"></script>
<script>
    function read() {
        var did = $("[name=did]").val();
        console.log(did);
        xadmin.open("文档阅读","/Home/reads?did="+did,"750","800");
    }
</script>
<script>
    function showOnlinePreview() {
        stopBodyScroll(true);
        $("body").css({position: "fixed", width: "100%"});
        var a = document.documentElement.clientHeight;
        onlinePreview.showWin("840", a, "社区矫正人员思想汇报13篇", "https://view.wenku365.com/", "79b0d6a992be4cc810b1b467a726a699e23d83e42d04eeed9a908de865652fe2ee9a0a904b612bbcbbec0cb5227fd422", "6")};
</script>
</body>
</html>
