<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录到用户中心</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/js/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/font-awesome.min.css">
    <link rel="stylesheet" href="/static/js/ionicons.min.css">
    <link rel="stylesheet" href="/static/js/AdminLTE.min.css">

    <style>
        .login-page {
            background-image: url("/static/js/bg.png");
            background-size: cover;
        }

        .login-box {
            padding-top: 100px;
        }

        .form-group {
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div id="app">
    <div class="row">
        <div class="login-box text-center">
            <div class="login-box-body">
                <form action="#" method="post" class="autoAjaxSubmit"
                      data-ok-href="https://www.wenku365.com/ucenter">
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" class="form-control" placeholder="请输入手机号或邮箱" v-model.trim="name">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" placeholder="及密码..." v-model.trim="pwd">
                    </div>
                    <div class="form-group">
                        <label>验证码</label>
                        <input type="text" class="form-control" placeholder="请输入验证码" name="captcha" id="captcha">
                        <img src="/static/js/captcha.jpg" onclick="this.src='/commons/captcha?d='+Math.random();" cdn-exclude id="captchaimg">
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 15px">
                            <button type="button" @click="login()" class="btn btn-primary btn-block btn-flat">登 录
                            </button>
                            <p class="help-block" style="float: left;"> 还没有账号？点击 <a
                                    href="/Home/registered">这里</a> 注册。
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/static/vue/vue.js"></script>
<script src="/static/vue/axios.min.js"></script>
<script src="/static/vue/jquery-3.1.1.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            name: '',
            pwd: ''
        },
        created: function () {

        },
        methods: {
            "login": function () {
                var url = "";
                axios.get(url).then(function (value) {

                });
            }
        }
    });
</script>


</body>
</html>
