<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录到用户中心</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">

    <style>
        .login-page {
            background-image: url("/static/images/bg.png");
            background-size: cover;
        }

        .login-box {
            padding-top: 100px;
        }

        .form-group {
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition login-page">

<div class="row">
    <div class="login-box text-center">
        <div class="login-box-body">
            <form action="https://www.wenku365.com/user/doLogin" method="post" class="autoAjaxSubmit"
                  data-ok-href="https://www.wenku365.com/ucenter">
                <div class="form-group">
                    <label>账号</label>
                    <input type="text" class="form-control" placeholder="请输入手机或邮箱" name="user">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control" placeholder="及密码..." name="pwd">
                </div>
                <div class="row">
                    <div class="col-xs-12" style="padding-top: 15px">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登 录</button>
                        <p class="help-block" style="float: left;"> 还没有账号？点击 <a
                                href="/Home/registered">这里</a> 注册。
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
