<!DOCTYPE html>
<html lang="en" style="height: auto; min-height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户中心</title>
    <link rel="stylesheet" href="/static/js/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/js/font-awesome.min.css">
    <link rel="stylesheet" href="/static/js/ionicons.min.css">
    <link rel="stylesheet" href="/static/js/switchery.min.css">
    <link rel="stylesheet" href="/static/js/toastr.min.css">
    <link rel="stylesheet" href="/static/js/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/js/skin-black-light.min.css">
    <link rel="stylesheet" href="/static/js/qidongucenter.css">

    <script>
        var qidong = {
            cpath: ''
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/static/js/dropzone.css">
    <style>
        .upload-notice {
            background-color: #fef6a9;
            font-size: 14px;
            color: #ff4400;
            line-height: 25px;
            padding: 7px 15px;
            margin-bottom: 10px;
            margin-right: 0px;
            border: solid 1px #e10074;
        }

        .col-position {
            margin-top: 5px;
        }

        .tip-font {
            font-size: 12px;
        }

        .editor {
            height: 230px;
            width: 100%;
            background-color: white
        }
    </style>

    <link rel="stylesheet" href="/static/js/layer.css" id="layuicss-layer">
    <style>.cke {
        visibility: hidden;
    }</style>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <link rel="stylesheet" href="/static/js/style.css" id="layuicss-themejpressstylecss">
    <link rel="stylesheet" type="text/css" href="/static/js/editor.css">
    <script type="text/javascript" src="/static/js/zh-cn.js"></script>
    <script type="text/javascript" src="/static/js/styles.js"></script>
    <script type="text/javascript" src="/static/js/plugin.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/scayt.css">
    <link rel="stylesheet" type="text/css" href="/static/js/dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/js/tableselection.css">
    <link rel="stylesheet" type="text/css" href="/static/js/wsc.css">
    <script type="text/javascript" src="/static/js/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/default.css">
    <link rel="stylesheet" type="text/css" href="/static/js/balloontoolbar.css">
    <link rel="stylesheet" type="text/css" href="/static/js/copyformatting.css">
    <link rel="stylesheet" type="text/css" href="/static/js/imagebase.css">
    <link rel="stylesheet" type="text/css" href="/static/js/balloonpanel.css">
    <script type="text/javascript" src="/static/js/highlight.pack.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body class="sidebar-mini wysihtml5-supported skin-black-light layout-boxed" style="height: auto; min-height: 100%;">
<div class="wrapper" style="overflow: hidden; height: auto; min-height: 100%;">

    <header class="main-header">
        <!-- Logo -->
        <a href="http://upload.wenku365.com:18889/ucenter" class="logo">
            <span class="logo-mini"><b>JPr</b></span>
            <span class="logo-lg"><b>随心文库</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="http://upload.wenku365.com:18889/ucenter/wenku/bookUpload" class="sidebar-toggle"
               data-toggle="push-menu" role="button">
                <span class="sr-only">切换</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a th:href="@{/Home/UserInfoPerson(cid=${session.cus.customerid})}">
                            <img th:src="${session.cus.customerpic}" class="user-image">
                            <span class="hidden-xs">您好 <span
                                    th:text="${session.cus!=null?session.cus.customertel:''}"></span> , 欢迎回来</span>
                        </a>
                    </li>


                    <li class="dropdown messages-menu" style="border-left: 1px solid #ccc;">
                        <a href="http://upload.wenku365.com:18889/ucenter/wenku/bookUpload#" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">购物车列表</li>
                            <li>
                                <ul class="menu" style="background-color: #f7f7f7">
                                </ul>
                            </li>
                            <li class="footer"><a href="http://upload.wenku365.com:18889/ucenter/cart"
                                                  style="color: #3c8dbc !important;" target="_blank">查看全部</a></li>
                        </ul>
                    </li>

                    <li style="border-left: 1px solid #ccc;">
                        <a th:href="@{/Home/index}">
                            <i class="fa fa-fw fa-home"></i>
                        </a>
                    </li>

                    <li style="border-left: 1px solid #ccc;">
                        <a href="/Home/index">
                            退出
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree" data-widget="tree" id="sidebar-menu">
                <li class="block"></li>
                <li class="link">
                    <a href="http://localhost:8888/Home/index">
                        <i class="fa fa-fw fa-home"></i>
                        <span>首页</span></a>
                </li>

                <li class="header">我的内容</li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-fw fa-file-text"></i>
                        <span>我的文档</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <span class="pull-right-container">
                    </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li class="active"><a href="/Home/user">上传文档</a></li>
                        <li><a href="/Home/wendang">文档信息</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="JavaScript:">
                        <i class="fa fa-fw fa-bookmark"></i>
                        <span>收藏/关注</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <span class="pull-right-container">
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Home/guanzhu" >我的关注</a></li>
                        <li><a href="/Home/shoucang" >我的收藏</a></li>
                    </ul>
                </li>

                <li class="header">财务信息</li>
                <li class="link">
                    <a href="/Home/orderInfo">
                        <i class="fa fa-fw fa-paper-plane"></i>
                        <span>我的购买</span></a>
                </li>
                <li class="link">
                    <a href="/Home/blance">
                        <i class="fa fa-fw fa-gg-circle"></i>
                        <span>我的余额</span></a>
                </li>
                <li class="link">
                    <a href="/Home/blance">
                        <i class="fa fa-fw fa-futbol-o"></i>
                        <span>我的收益</span></a>
                </li>
                <li class="header">个人信息</li>
                <li class="link">
                    <a href="/Home/addHelp">
                        <i class="fa fa-fw fa-coffee"></i>
                        <span>发布求助</span></a>
                </li>
                <li class="link">
                    <a href="/Home/userinfo">
                        <i class="fa fa-fw fa-user"></i>
                        <span>基本信息</span></a>
                </li>
                <li class="link">
                    <a href=/Home/signature>
                        <i class="fa fa-fw fa-bars"></i>
                        <span>个人签名</span></a>
                </li>
                <li class="link">
                    <a href="/Home/avatar">
                        <i class="fa fa-fw fa-black-tie"></i>
                        <span>头像设置</span></a>
                </li>
                <li class="link">
                    <a href="/Home/password">
                        <i class="fa fa-fw fa-key"></i>
                        <span>账号密码</span></a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div id="qwe" class="content-wrapper" style="min-height: 693px;">

        <section class="content-header">
            <h1>
                上传资源
                <small>Upload Resource</small>
            </h1>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-16">
                    <div class="box box-primary">
                        <div class="upload-notice">
                       <span>本站禁止上传：
                           1、标题不全资源；
                           2、采集器采集的网页文章；
                           3、明显过期资源；
                           4、广告软文；
                           5、各类侵权资源；
                           6、违反国家关于互联网相关规定的内容。请各位上传用户严格遵守,违者取消上传权限！【上传客服QQ：1290478887】</span>
                        </div>
                    </div>
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td valign="top" width="80%">


                                <div id="wdk">
                                    <form class="form-horizontal" autocomplete="off" id="form1" method="post" enctype="multipart/form-data">
                                        <div class="box-body">
                                            <div class="form-group ">
                                                <label class="col-sm-2 control-label">资源文件</label>
                                                <div class="col-sm-8">
                                                    <input type="file" class="form-control" id="file"
                                                           name="file" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group" id="resourceTitle">
                                                <label class="col-sm-2 control-label">资源标题</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="title" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">资源关键字</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="essentialcode" required="required">
                                                </div>
                                            </div>

                                            <div class="form-group " id="resourceKeyWord">
                                                <label class="col-sm-2 control-label">资源简介</label>
                                                <div class="col-sm-8">
                                                <textarea type="text" class="form-control" id="meta_keywords" name="introduction"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">资源分类</label>

                                                <div class="col-sm-7">
                                                    <select style="width: 35%;height: 35px;" v-model="resid" @change="chaxun()" name="firstCategory">
                                                        <option v-for="res in result" :value="res.id">{{res.name}}</option>
                                                    </select>

                                                    <select style="width: 35%;height: 35px;" v-model="detailsid" name="detaisid">
                                                        <option v-for="a in resultdetails" :value="a.did">{{a.dname}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="box-header"
                                                 style="background-color: #efefef; padding: 5px 5px; font-weight: bold; margin: 5px 0px;">
                                                <h3 class="box-title">资源发布信息</h3>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">预览页数</label>
                                                <div class="col-sm-8">
                                                    <input style="width: 280px;" type="number" placeholder="最大预览页数：10页" class="form-control" name="previewpage" required="required">
                                                    <div class="tip-font">
                                                        <span>预览页数</span><span style="color: red">超过</span><span>总页数将</span><span style="color: red">按照总页数</span><span>设置</span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group" onchange="uploadStatusChange()">
                                                <label class="col-sm-2 control-label">允许下载</label>
                                                <div class="col-sm-9 col-position">
                                                    <input type="radio" id="down" name="allowdownload" value="1"
                                                           checked="">
                                                    <label for="down">允许</label>
                                                    <input type="radio" id="unDown" name="allowdownload" value="0">
                                                    <label for="unDown">不允许</label>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">是否原创</label>
                                                <div class="col-sm-9 col-position">
                                                    <input type="radio" id="isNotOriginal" name="original" value="1" checked="">
                                                    <label for="unDown">是</label>
                                                    <input type="radio" id="isOriginal" name="original" value="0">
                                                    <label for="down">否</label>(请严格按实选择)
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">售价设置</label>
                                                <div class="col-sm-8">
                                                    <input style="width: 280px;" type="number" placeholder="请输入2.0-500.0之间的价格！" class="form-control" name="sellingprice" required="required">
                                                    <div class="tip-font">
                                                        <span style="color: red">1积分=1元人民币。</span>&nbsp;<span>最高售价：500.0，0为免费下载</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="box-footer" style="background-color: #f7f7f7">
                                                <div class="col-sm-offset-2 col-sm-20 submit-block">
                                                    <div class="box-submit">
                                                        <button type="button" id="btn-submit" class="btn btn-primary" onclick="uploadFile()">
                                                            提交
                                                        </button>

                                                        <div style="margin-top: 10px">
                                                            <div>
                                                                <input type="checkbox" checked="checked"
                                                                       id="termsOfService">
                                                                <a href="http://www.wenku365.com/n-2.html"
                                                                   target="_blank">用户服务条款</a>

                                                                <input type="checkbox" checked="checked"
                                                                       id="disclaimer">
                                                                <a href="http://www.wenku365.com/n-3.html"
                                                                   target="_blank">免责声明</a>

                                                                <input type="checkbox" checked="checked"
                                                                       id="copyrightNotice">
                                                                <a href="http://www.wenku365.com/h-37.html"
                                                                   target="_blank">版权申明</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="csrf_token" value="75656035378d403ba04aaae8a48271be">
                                    </form>
                                </div>




                                <script src="/static/vue/vue.js"></script>
                                <script src="/static/vue/axios.min.js"></script>
                                <script>
                                    var v = new Vue({
                                        el:'#wdk',
                                        data:{
                                            result:[],
                                            resid:0,
                                            resultdetails:[],
                                            detailsid:0
                                        },
                                        created:function(){
                                            this.find();
                                        },
                                        methods:{
                                            "find":function () {
                                                var url = "/Resource/findResource";
                                                var that = this;
                                                axios.get(url).then(function (value) {
                                                    that.result = value.data;
                                                });
                                            },
                                            "chaxun":function () {
                                                var that = this;
                                                var url = "/Resource/findResourceById?resid="+this.resid;
                                                axios.get(url).then(function (value) {
                                                    that.resultdetails = value.data;
                                                });
                                            }
                                        }
                                    });
                                </script>
                                <script>
                                    function uploadFile() {

                                        if ($("[name=previewpage]").val() > 10 || $("[name=previewpage]").val() < 1){
                                            layer.alert("可预览页数：1 - 10 页！");
                                            return;
                                        }

                                        var myfrom = new FormData();
                                        myfrom.append('file',$("#file")[0].files[0]);
                                        myfrom.append('title', $("[name=title]").val());
                                        myfrom.append('essentialcode', $("[name=essentialcode]").val());
                                        myfrom.append('detaisid', $("[name=detaisid]").val());
                                        myfrom.append('introduction', $("[name=introduction]").val());
                                        myfrom.append('previewpage', $("[name=previewpage]").val());
                                        myfrom.append('allowdownload', $("[name=allowdownload]:checked").val());
                                        myfrom.append('original', $("[name=original]:checked").val());
                                        myfrom.append('sellingprice', $("[name=sellingprice]").val());
                                        $.ajax({
                                            url: "/documentation/upload",
                                            type: "POST",
                                            data: myfrom,
                                            async: false,
                                            contentType: false,
                                            processData: false,
                                            success: function (result) {
                                                if (result == 1){
                                                    layer.alert('上传成功！');
                                                }
                                            },
                                            error: function (data) {
                                                console.log(data)
                                            }
                                        });
                                    }
                                </script>

                            </td>
                            <td valign="top" width="20%">
                                <div style="background-color: #f7f7f7; padding: 10px 10px; float: right">
                                    <div style="line-height: 20px; color: #666; font-size: 12px;">
                                        <b style="color: #444; line-height: 30px;">温馨小贴示：</b><br>
                                        <span style="color: #ff1100">1、请勿上传已设置加密或只读的资源，不支持此类资源在线阅读。<br></span>2、在线浏览文件格式：<br>
                                        <table style="font-size: 12px; color: #336699">
                                            <tbody>
                                            <tr>
                                                <td style="width: 95px"><b>MS Office资源:</b></td>
                                                <td>doc,docx ppt,pptx xls,xlsx pot,potx pps,ppsx rtf;</td>
                                            </tr>
                                            <tr>
                                                <td><b>WPS office系列:</b></td>
                                                <td>wps et dps</td>
                                            </tr>

                                            <tr>
                                                <td><b>PDF:</b></td>
                                                <td>pdf</td>
                                            </tr>
                                            <tr>
                                                <td><b>纯文本:</b></td>
                                                <td>txt</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p style="line-height: 20px; color: #666; font-size: 12px;">
                                        3、文件需要后台自动转换成播放格式，请耐心等候几分钟再刷新页面查看。</p>
                                    <p style="line-height: 20px; color: #666; font-size: 12px;">
                                        4、上传支持的文件最大容量：6MB</p>
                                    <p style="line-height: 20px; color: #666; font-size: 12px;">
                                        5、禁止上传违反国家关于互联网相关规定的内容。
                                    </p>
                                    <p style="line-height: 20px; font-size: 12px;">
                                        6、不需要在线预览的资源，格式不受上述格式的限制。
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        version v3.0.0-rc.1
    </div>
    Copyright © 2016-2020 <a href="http://www.qidong.com/" target="_blank">Qidong Studio</a>. All rights
    reserved.
</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/switchery.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/layer.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/js/qidongucenter.js"></script>
<script src="/static/js/qidongcommons.js"></script>
<script src="/static/js/qidongcsrf.js"></script>

<script>
    $('#form').on('submit', function () {

        ajaxSubmit('#form', function () {
            toastr.success('修改成功');
        });

        return false;
    });
</script>

<script src="/static/js/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/dropzone.js"></script>
<script>

    // 免费与收费切换
    function uploadStatusChange() {
        var radioValue = $('input:radio[name="meBookTemp.flag"]:checked').val();
        if ('1' == radioValue) {
            $("#free-down").show();
        } else if ('0' == radioValue) {
            $("#free-down").hide();
        }
    }


    $('#form1').on('submit', function () {
        // 校验上传方式
        var verify = verifyTermsService();
        if (!verify) {
            return false;
        }
        ajaxSubmit('#form1', function () {
            $("#btn-submit").attr("disabled", true);
            toastr.success('保存成功');
            setTimeout(function () {
                location.reload();
            }, 2000);
        });

        return false;
    });

    /**
     * 校验是否选中服务条款
     */
    function verifyTermsService() {
        var termsOfServiceChecked = $("#termsOfService").is(":checked");
        if (!termsOfServiceChecked) {
            alert("上传服务需同意《用户服务条款》");
            return false;
        }
        var disclaimerChecked = $("#disclaimer").is(":checked");
        if (!disclaimerChecked) {
            alert("上传服务需同意《免责声明》");
            return false;
        }
        var copyrightNoticeCheck = $("#copyrightNotice").is(":checked");
        if (!copyrightNoticeCheck) {
            alert("上传服务需同意《版权申明》");
            return false;
        }
        return true;
    }
</script>


<input type="file" class="dz-hidden-input"
       accept=".doc,.docx,.ppt,.pptx,.xls,.xlsx,.pot,.potx,.pps,.ppsx,.rtf,.wps,.et,.dps,.pdf,.txt,.rar,.zip,.dwg,.DWG"
       style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
<div class="cke_screen_reader_only cke_copyformatting_notification">
    <div aria-live="polite"></div>
</div>
</body>
</html>