<!DOCTYPE html>
<html lang="en" style="height: auto; min-height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户中心</title>
    <link rel="stylesheet" href="/static/js/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/static/js/font-awesome.min.css">
    <link rel="stylesheet" href="/static/js/ionicons.min.css">
    <link rel="stylesheet" href="/static/js/switchery.min.css">
    <link rel="stylesheet" href="/static/js/toastr.min.css">
    <link rel="stylesheet" href="/static/js/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/js/skin-black-light.min.css">
    <link rel="stylesheet" href="/static/js/qidongucenter.css">

    <script>
        var qidong = {
            cpath: ''
        }
    </script>

    <link rel="stylesheet" type="text/css" href="/static/js/dropzone.css">
    <style>
        .upload-notice {
            background-color: #fef6a9;
            font-size: 14px;
            color: #ff4400;
            line-height: 25px;
            padding: 7px 15px;
            margin-bottom: 10px;
            margin-right: 0px;
            border: solid 1px #e10074;
        }

        .col-position {
            margin-top: 5px;
        }

        .tip-font {
            font-size: 12px;
        }

        .editor {
            height: 230px;
            width: 100%;
            background-color: white
        }
    </style>

    <link rel="stylesheet" href="/static/js/layer.css" id="layuicss-layer">
    <style>.cke {
        visibility: hidden;
    }</style>
    <script type="text/javascript" src="/static/js/config.js"></script>
    <link rel="stylesheet" href="/static/js/style.css" id="layuicss-themejpressstylecss">
    <link rel="stylesheet" type="text/css" href="/static/js/editor.css">
    <script type="text/javascript" src="/static/js/zh-cn.js"></script>
    <script type="text/javascript" src="/static/js/styles.js"></script>
    <script type="text/javascript" src="/static/js/plugin.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/scayt.css">
    <link rel="stylesheet" type="text/css" href="/static/js/dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/js/tableselection.css">
    <link rel="stylesheet" type="text/css" href="/static/js/wsc.css">
    <script type="text/javascript" src="/static/js/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/default.css">
    <link rel="stylesheet" type="text/css" href="/static/js/balloontoolbar.css">
    <link rel="stylesheet" type="text/css" href="/static/js/copyformatting.css">
    <link rel="stylesheet" type="text/css" href="/static/js/imagebase.css">
    <link rel="stylesheet" type="text/css" href="/static/js/balloonpanel.css">
    <script type="text/javascript" src="/static/js/highlight.pack.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body class="sidebar-mini wysihtml5-supported skin-black-light layout-boxed" style="height: auto; min-height: 100%;">
<div class="wrapper" style="overflow: hidden; height: auto; min-height: 100%;">

    <header class="main-header">
        <!-- Logo -->
        <a href="http://upload.wenku365.com:18889/ucenter" class="logo">
            <span class="logo-mini"><b>JPr</b></span>
            <span class="logo-lg"><b>随心文库</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="http://upload.wenku365.com:18889/ucenter/wenku/bookUpload" class="sidebar-toggle"
               data-toggle="push-menu" role="button">
                <span class="sr-only">切换</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a th:href="@{/Home/UserInfoPerson(cid=${session.cus.customerid})}">
                            <img th:src="${session.cus.customerpic}" class="user-image">
                            <span class="hidden-xs">您好 <span
                                    th:text="${session.cus!=null?session.cus.customertel:''}"></span> , 欢迎回来</span>
                        </a>
                    </li>


                    <li class="dropdown messages-menu" style="border-left: 1px solid #ccc;">
                        <a href="/Home/blance" class="dropdown-toggle">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </a>
                    </li>

                    <li style="border-left: 1px solid #ccc;">
                        <a th:href="@{/Home/index}">
                            <i class="fa fa-fw fa-home"></i>
                        </a>
                    </li>

                    <li style="border-left: 1px solid #ccc;">
                        <a href="/Home/index">
                            退出
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree" data-widget="tree" id="sidebar-menu">
                <li class="block"></li>
                <li class="link">
                    <a href="http://upload.wenku365.com:18889/ucenter/index">
                        <i class="fa fa-fw fa-home"></i>
                        <span>首页</span></a>
                </li>

                <li class="header">我的内容</li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-fw fa-file-text"></i>
                        <span>我的文档</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <span class="pull-right-container">
                    </span>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li class="active"><a href="/Home/user">上传文档</a></li>
                        <li><a href="/Home/wendang">文档信息</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="JavaScript:">
                        <i class="fa fa-fw fa-bookmark"></i>
                        <span>收藏/关注</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <span class="pull-right-container">
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Home/guanzhu" >我的关注</a></li>
                        <li><a href="/Home/shoucang" >我的收藏</a></li>
                    </ul>
                </li>

                <li class="header">财务信息</li>
                <li class="link">
                    <a href="/Home/orderInfo">
                        <i class="fa fa-fw fa-paper-plane"></i>
                        <span>我的购买</span></a>
                </li>
                <li class="link">
                    <a href="/Home/blance">
                        <i class="fa fa-fw fa-gg-circle"></i>
                        <span>我的积分</span></a>
                </li>
                <li class="header">个人信息</li>
                <li class="link">
                    <a href="/Home/addHelp">
                        <i class="fa fa-fw fa-coffee"></i>
                        <span>发布求助</span></a>
                </li>
                <li class="link">
                    <a href="/Home/userinfo">
                        <i class="fa fa-fw fa-user"></i>
                        <span>基本信息</span></a>
                </li>
                <li class="link">
                    <a href=/Home/signature>
                        <i class="fa fa-fw fa-bars"></i>
                        <span>个人签名</span></a>
                </li>
                <li class="link">
                    <a href="/Home/avatar">
                        <i class="fa fa-fw fa-black-tie"></i>
                        <span>头像设置</span></a>
                </li>
                <li class="link">
                    <a href="/Home/password">
                        <i class="fa fa-fw fa-key"></i>
                        <span>账号密码</span></a>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper" id="app">
        <section class="content-header">
            <h1>
                我的信息
                <small>My Profile</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header ">
                            <h3 class="box-title"></h3>
                        </div>
                        <form class="form-horizontal" autocomplete="off" action="#" id="wdkid">
                            <div class="box-body ">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" hidden>测试隐藏</label>
                                    <div class="col-sm-7" hidden>
                                        <input type="input" name="customerid" class="form-control"
                                               th:value="${session.cus.customerid}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">登录账号</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" th:value="${session.cus.customertel}"
                                               readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">昵称</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" name="customername"
                                               placeholder="取个好听的昵称..." th:value="${session.cus.customername}">
                                    </div>
                                </div>
                                <h4 class="page-header">通信</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" placeholder="填写邮箱账号"
                                               name="customeremail" th:value="${session.cus.customeremail}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">地址</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" placeholder="地址" name="customeraddr"
                                               th:value="${session.cus.customeraddr}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">个人网址</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" placeholder="..." name="customerurl"
                                               th:value="${session.cus.customerurl}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ/WeChat</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" placeholder="..."
                                               name="customercontact" th:value="${session.cus.customercontact}">
                                    </div>
                                </div>
                                <h4 class="page-header">其他</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">真实名字</label>
                                    <div class="col-sm-7">
                                        <input type="input" class="form-control" placeholder="..."
                                               name="customertruename" th:value="${session.cus.customertruename}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-7" style="margin-top: 5px">
                                        男：<input type="radio" name="customersex"
                                                 th:checked="${session.cus.customersex==1?true:false}" value="1">
                                        女：<input type="radio" name="customersex"
                                                 th:checked="${session.cus.customersex==0?true:false}" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="col-sm-offset-2 col-sm-10 submit-block">
                                    <div class="box-submit">
                                        <button type="button" @click="yes()" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/vue/axios.min.js"></script>
    <script src="/static/vue/vue.js"></script>
    <script>
        var v = new Vue({
            el: '#app',
            data: {
                res:{}
            },
            methods: {
                "yes": function () {
                    var id = $("[name=customerid]").val();
                    var name = $("[name=customername]").val();
                    var email = $("[name=customeremail]").val();
                    var addr = $("[name=customeraddr]").val();
                    var url = $("[name=customerurl]").val();
                    var contact = $("[name=customercontact]").val();
                    var truename = $("[name=customertruename]").val();
                    var sex = $("[name=customersex]:checked").val();
                    this.res = {
                        "customerid":id,
                        "customername":name,
                        "customeremail":email,
                        "customeraddr":addr,
                        "customerurl":url,
                        "customercontact":contact,
                        "customertruename":truename,
                        "customersex":sex
                    };
                    var that = this;
                    axios.post("/customer/upd",this.res).then(function (value) {
                        if(value.data > 0){
                            toastr.options.onHidden = function () {
                                var url = "/customer/updLogin?id="+$("[name=customerid]").val();
                                axios.get(url).then(function (resp) {
                                    if(resp.data === 1){
                                        location.reload();
                                    }else{
                                        alert("刷新失败！");
                                    }
                                });
                            };
                            toastr.success('信息修改成功，2s后自动刷新...');
                        }else{
                            alert("修改失败！");
                        }
                    });
                }
            }
        })
    </script>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            version v3.0.0-rc.1
        </div>
        Copyright &copy; 2016-2020 Qidong Studio. All rights
        reserved.
    </footer>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/static/js/fastclick.js"></script>
<script src="/static/js/switchery.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/layer.js"></script>
<script src="/static/js/adminlte.min.js"></script>
<script src="/static/js/qidongucenter.js"></script>
<script src="/static/js/qidongcommons.js"></script>
<script src="/static/js/qidongcsrf.js"></script>
<script>
    $('#form').on('submit', function () {

        ajaxSubmit('#form', function () {
            toastr.success('修改成功');
        });

        return false;
    });
</script>
</body>
</html>