<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全路径-->
<mapper namespace="com.aaa.dao.CustomerDao">

    <insert id="add" useGeneratedKeys="true" keyProperty="customerid">
        insert into customerinfo(customerid,customerpwd,customeremail,customertel,customerstate,customermoney,theauthor,customerfence)
        values(#{customerid},#{customerpwd},#{customeremail},#{customertel},#{customerstate},#{customermoney},0,0)
    </insert>

    <update id="updCustomer">
        update customerinfo
        set customername=#{customername},customersex=#{customersex},customeremail=#{customeremail},customerurl=#{customerurl},customercontact=#{customercontact},customeraddr=#{customeraddr},customertruename=#{customertruename}
        where customerid=#{customerid}
    </update>

    <update id="updSignature">
        update customerinfo set customermeno=#{param2} where customerid=#{param1}
    </update>

    <update id="updPassword">
        update customerinfo set customerpwd=#{param2} where customerid = #{param1}
    </update>

    <update id="updMoney">
        update customerinfo set customermoney=#{param2} where customerid = #{param1}
    </update>

    <select id="bypwd" resultType="com.aaa.entity.Customerinfo">
        select * from customerinfo
        <where>
            <if test="param1 != null and param1 !=''">
                and customertel = #{param1}
            </if>
            <if test="param2 != null and param2 !=''">
                and customeremail = #{param2}
            </if>
            <if test="param3 != null and param3 !=''">
                and customerpwd = #{param3}
            </if>
        </where>
    </select>

    <select id="findCustomerByPhone" resultType="com.aaa.entity.Customerinfo">
        select * from customerinfo where customertel = #{value}
    </select>

    <select id="updLogin" resultType="com.aaa.entity.Customerinfo">
        select * from  customerinfo where customerid = #{value}
    </select>
    
    <update id="editFile" parameterType="com.aaa.entity.Customerinfo">
        update customerinfo set customerpic=#{customerpic}  where  customerid = #{customerid}
    </update>

</mapper>