<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全路径-->
<mapper namespace="com.aaa.dao.DocumentationDao">

    <resultMap id="huiMap" type="java.util.Map">
        <id column="did" jdbcType="NUMERIC" property="did"></id>
        <result column="sellingprice" jdbcType="NUMERIC" property="sellingprice"></result>
        <result column="customerid" jdbcType="NUMERIC" property="customerid"></result>
        <result column="customermoney" jdbcType="NUMERIC" property="customermoney"></result>
        <result column="customertel" jdbcType="VARCHAR" property="customertel"></result>
    </resultMap>

    <resultMap id="MyDocumentationMap" type="java.util.Map">
        <id column="did" jdbcType="NUMERIC" property="did"></id>
        <result column="filename" jdbcType="VARCHAR" property="filename"></result>
        <result column="title" jdbcType="VARCHAR" property="title"></result>
        <result column="essentialcode" jdbcType="VARCHAR" property="essentialcode"></result>
        <result column="detaisid" jdbcType="NUMERIC" property="detaisid"></result>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"></result>
        <result column="previewpage" jdbcType="NUMERIC" property="previewpage"></result>
        <result column="pages" jdbcType="NUMERIC" property="pages"></result>
        <result column="allowdownload" jdbcType="NUMERIC" property="allowdownload"></result>
        <result column="original" jdbcType="NUMERIC" property="original"></result>
        <result column="sellingprice" jdbcType="NUMERIC" property="sellingprice"></result>
        <result column="releasetime" jdbcType="DATE" property="releasetime"></result>
        <result column="downloads" jdbcType="NUMERIC" property="downloads"></result>
        <result column="pageviews" jdbcType="NUMERIC" property="pageviews"></result>
        <result column="favorites" jdbcType="NUMERIC" property="favorites"></result>
        <result column="documentpath" jdbcType="VARCHAR" property="documentpath"></result>
        <result column="documentsize" jdbcType="NUMERIC" property="documentsize"></result>
        <result column="documentformat" jdbcType="VARCHAR" property="documentformat"></result>
        <result column="documentstatus" jdbcType="NUMERIC" property="documentstatus"></result>
        <result column="filepath" jdbcType="VARCHAR" property="filepath"></result>
        <result column="authored" jdbcType="NUMERIC" property="authored"></result>
        <result column="customername" jdbcType="VARCHAR" property="customername"></result>
        <result column="customerid" jdbcType="NUMERIC" property="customerid"></result>
        <result column="customerpic" jdbcType="VARCHAR" property="customerpic"></result>
        <result column="dname" jdbcType="VARCHAR" property="dname"></result>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
    </resultMap>

    <resultMap id="bull" type="java.util.Map">
        <id column="customerid" jdbcType="NUMERIC" property="customerid"></id>
        <id column="customername" jdbcType="VARCHAR" property="customername"></id>
        <id column="customerpic" jdbcType="VARCHAR" property="customerpic"></id>
        <id column="customermeno" jdbcType="VARCHAR" property="customermeno"></id>
        <id column="uploads" jdbcType="NUMERIC" property="uploads"></id>
    </resultMap>
    <!--文件上传-->
    <insert id="add" parameterType="com.aaa.entity.Documentation" useGeneratedKeys="true" keyProperty="did">
       insert into documentation values(#{did},#{filename},#{title},#{essentialcode},#{detaisid},#{introduction},#{previewpage},#{pages},#{allowdownload},#{original},#{sellingprice},#{releasetime},#{downloads},#{pageviews},#{favorites},#{documentpath},#{documentsize},#{documentformat},#{documentstatus},#{filepath},#{imgsname},#{authored})
    </insert>

    <!--收藏操作时，对收藏量进行修改-->
    <update id="updatefavorites">
        update documentation set  favorites=#{param1}  where did = #{param2};
    </update>

    <!--修改文档的-->
    <update id="editprice">
        update documentation set sellingprice = #{param1} where did = #{param2}
    </update>

    <!--今日特别推荐查询-->
    <select id="documentationespecially" resultType="com.aaa.entity.Documentation">
        select  * from documentation order by rand() limit 10
    </select>

    <select id="bydid" resultMap="MyDocumentationMap">
        select d.*,c.customername,c.customerid,c.customerpic,rs.dname,ro.name from documentation d
        left join customerinfo c on d.authored = c.customerid
        left join resourcesdetails rs on d.detaisid = rs.did
        left join resourcesinfo ro on rs.resourcesid = ro.id
        where d.did = #{did}
    </select>

    <select id="findbyid" parameterType="java.lang.Integer" resultType="com.aaa.entity.Documentation">
        select * from documentation where authored = #{authored}
    </select>

    <select id="findbydid" parameterType="java.lang.Integer" resultType="com.aaa.entity.Documentation">
        select * from documentation where did = #{did}
    </select>

    <select id="documentationlatest" resultType="com.aaa.entity.Documentation">
        select * from documentation order by releasetime desc limit 14
    </select>

    <select id="documentationppt" resultType="com.aaa.entity.Documentation">
        select * from documentation where documentformat = "pptx" order by rand() limit 14
    </select>

    <select id="findbull" resultMap="bull">
        select c.customerid ,c.customername,c.customerpic,c.customermeno,count(*) uploads from documentation d
        left join customerinfo c on c.customerid = d.authored GROUP BY d.authored
        ORDER BY uploads DESC LIMIT 12
    </select>

    <select id="findDocumentByDetaisid" resultType="com.aaa.entity.Documentation">
        select * from documentation where detaisid = #{value}
    </select>

    <select id="findNewDocument" resultType="com.aaa.entity.Documentation">
        select * from documentation where detaisid = #{value} ORDER BY did desc
    </select>


    <select id="findbydidcid" resultMap="huiMap">
        select d.did,d.sellingprice,c.customerid,c.customermoney,c.customertel from documentation d left join customerinfo c on d.authored = c.customerid where d.did = #{did}
    </select>

    <select id="findType" resultType="com.aaa.entity.Documentation">
        select d.* from documentation d
        LEFT JOIN resourcesdetails r
        on d.detaisid = r.did
        LEFT JOIN resourcesinfo rs
        on r.resourcesid = rs.id
        where rs.id = #{value}
    </select>

    <!--随机查询14条文档信息-->
    <select id="findrand" resultType="com.aaa.entity.Documentation">
        select  * from documentation order by rand() limit 16
    </select>

    <select id="findMoDetails" resultType="com.aaa.entity.Documentation">
        select d.* from documentation d
        LEFT JOIN resourcesdetails r
        on d.detaisid = r.did
        LEFT JOIN resourcesinfo rs
        on r.resourcesid = rs.id
        where rs.id = #{value}
        ORDER BY d.did desc
    </select>

    <select id="showTypeInfo" resultType="com.aaa.entity.Resourcesinfo">
        select * from resourcesinfo where id = #{value}
    </select>

    <select id="mohuQuery" resultType="com.aaa.entity.Documentation">
        select * from documentation where
        essentialcode LIKE concat('%',#{value},'%')
        or title like concat('%',#{value},'%')
        or filename like concat('%',#{value},'%')
    </select>


</mapper>