<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.dao.OrdersDao">

    <insert id="documentbuy" parameterType="com.aaa.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders values(#{id},#{ordered},#{ordertime},#{orderintegral},#{customerid},#{documented})
    </insert>

</mapper>